# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore all target directories
target/

# ignore all files ending with ~
*~

#ignore all files starting wit ._
._*

*.jar

*.class

# ignore .idea config
.idea/

*.iml