<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<bean
		class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator" />

	<context:annotation-config />
	<context:component-scan base-package="com.cloudfoundry.nrv.tstracker" />


	<!-- Starts data base source configuration for JPA -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:db.properties</value>
		</property>
	</bean>
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${db.driver}" />
		<property name="url" value="${db.url}" />
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
	</bean>
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml" />
		<property name="persistenceUnitName" value="tstrackerPU" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
	<!-- Ends data base source configuration for JPA -->


	<!-- DAO'S -->
	<bean id="clienteDAO" class="com.cloudfoundry.nrv.tstracker.dao.ClienteDAOImpl" />
	<bean id="desarrolladorDAO" class="com.cloudfoundry.nrv.tstracker.dao.DesarrolladorDAOImpl" />
	<bean id="liderTecnicoDAO" class="com.cloudfoundry.nrv.tstracker.dao.LiderTecnicoDAOImpl" />
	<bean id="consultoraDAO" class="com.cloudfoundry.nrv.tstracker.dao.ConsultoraDAOImpl" />
	<bean id="proyectoDAO" class="com.cloudfoundry.nrv.tstracker.dao.ProyectoDAOImpl" />
	<bean id="reporteDAO" class="com.cloudfoundry.nrv.tstracker.dao.ReporteDAOImpl" />
	<bean id="tareaDAO" class="com.cloudfoundry.nrv.tstracker.dao.TareaDAOImpl" />

	<!-- Services -->
	<bean id="clienteService"
		class="com.cloudfoundry.nrv.tstracker.service.ClienteServiceImpl">
		<property name="clienteDAO" ref="clienteDAO" />
	</bean>

	<bean id="desarrolladorService"
		class="com.cloudfoundry.nrv.tstracker.service.DesarrolladorServiceImpl">
		<property name="desarrolladorDAO" ref="desarrolladorDAO" />
	</bean>

	<bean id="liderTecnicoService"
		class="com.cloudfoundry.nrv.tstracker.service.LiderTecnicoServiceImpl">
		<property name="liderTecnicoDAO" ref="liderTecnicoDAO" />
	</bean>

	<bean id="consultoraService"
		class="com.cloudfoundry.nrv.tstracker.service.ConsultoraServiceImpl">
		<property name="consultoraDAO" ref="consultoraDAO" />
	</bean>

	<bean id="proyectoService"
		class="com.cloudfoundry.nrv.tstracker.service.ProyectoServiceImpl">
		<property name="proyectoDAO" ref="proyectoDAO" />
	</bean>

	<bean id="reporteService"
		class="com.cloudfoundry.nrv.tstracker.service.ReporteServiceImpl">
		<property name="reporteDAO" ref="reporteDAO" />
	</bean>

	<bean id="tareaService" class="com.cloudfoundry.nrv.tstracker.service.TareaServiceImpl">
		<property name="tareaDAO" ref="tareaDAO" />
	</bean>

	<aop:aspectj-autoproxy />

</beans>